In [1]:
import numpy as np
import pandas as pd

In [4]:
def f(x):
    return np.sin(5*x) + np.cos(5*x)

In [18]:
def bisec2(f, a, b):
    xi = (a + b)/2
    if f(a)*f(b) > 0:
        return [xi, a, b, "Root Not Bracketed"]
    elif f(xi) == 0:
            return [xi, a, b, "Root Found"]
    elif f(xi)*f(a) < 0:
        return [xi, a, xi, "Root between a and xi"]
    elif f(xi)*f(b) < 0:
        return [xi, xi, b, "Root between xi and b"]

In [28]:
def bisection(ErrorTable, ErrorNoteTable, atable, btable, xtable) :
    MaxIter =20
    eps = 0.0005
    Stopcode = "NoStopping"
    i=0
    while i<MaxIter and Stopcode == "NoStopping" :
        ri = bisec2(f, atable[i], btable[i])
        if ri[3] == "Root Not Bracket":
            xtable.append(ri[0])
            ErrorNoteTable.append(ri[3])
            break
        if ri[3] == "Root Found":
            xtable.append(ri[0])
            ErrorTable.append(0)
            ErrorNoteTable.append(ri[3])
            break
        atable.append(ri[1])
        btable.append(ri[2])
        xtable.append(ri[0])
        ErrorNoteTable.append(ri[3])
        if i!=0:
            ei = (xtable[i] - xtable[i-1])/xtable[i]
            ErrorTable.append(ei)
        if abs(ErrorTable[i])>eps:
            Stopcode = "NoStopping"
        else:
            Stopcode = "Stop"
        i+=1
        T2 = ([[i, atable[i], btable[i], xtable[i], f(atable[i]), 
                f(btable[i]), f(xtable[i]), ErrorTable[i], ErrorNoteTable[i]] for i in range(len(xtable))])
        T2 = pd.DataFrame(T2, columns=["Iteration", "a", "b", "x_i", "f[a]", "f[b]", "f[x_i]", "er", "ErrorNote"])
        display(T2)

In [29]:
# First Root
ErrorTable = [1]
ErrorNoteTable = []
atable = [-0.6]
btable = [-0.5]
xtable = []
print("First Root")
bisection(ErrorTable, ErrorNoteTable, atable, btable, xtable)

First Root

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,-0.6,-0.5,-0.55,-1.131113,-1.399616,-1.305963,1,Root Not Bracketed

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,-0.6,-0.5,-0.55,-1.131113,-1.399616,-1.305963,1.0,Root Not Bracketed
1,1,-0.6,-0.5,-0.55,-1.131113,-1.399616,-1.305963,-0.0,Root Not Bracketed

In [31]:
#Second Root
ErrorTable = [1]
ErrorNoteTable = []
atable = [-0.3]
btable = [-0.2]
xtable = []
print("Second Root")
bisection(ErrorTable, ErrorNoteTable, atable, btable, xtable)

Second Root

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,-0.3,-0.2,-0.25,-0.926758,-0.301169,-0.633662,1,Root Not Bracketed

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,-0.3,-0.2,-0.25,-0.926758,-0.301169,-0.633662,1.0,Root Not Bracketed
1,1,-0.3,-0.2,-0.25,-0.926758,-0.301169,-0.633662,-0.0,Root Not Bracketed

In [32]:
#Third Root
ErrorTable = [1]
ErrorNoteTable = []
atable = [0.1]
btable = [0.9]
xtable = []
print("Third Root")
bisection(ErrorTable, ErrorNoteTable, atable, btable, xtable)

Third Root

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.1,0.9,0.5,1.357008,-1.188326,-0.202671,1,Root between a and xi

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.1,0.9,0.5,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.1,0.5,0.3,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.1,0.9,0.5,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.1,0.5,0.3,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.3,0.5,0.4,1.068232,-0.202671,0.493151,0.250000,Root between xi and b

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.1,0.9,0.50,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.1,0.5,0.30,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.3,0.5,0.40,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.4,0.5,0.45,0.493151,-0.202671,0.149900,0.111111,Root between xi and b

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.10,0.9,0.500,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.10,0.5,0.300,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.30,0.5,0.400,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.40,0.5,0.450,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.45,0.5,0.475,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.10,0.900,0.5000,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.10,0.500,0.3000,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.30,0.500,0.4000,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.40,0.500,0.4500,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.45,0.500,0.4750,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi
5,5,0.45,0.475,0.4625,0.149900,-0.026593,0.061774,-0.027027,Root between xi and b

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.1000,0.900,0.50000,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.1000,0.500,0.30000,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.3000,0.500,0.40000,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.4000,0.500,0.45000,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.4500,0.500,0.47500,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi
5,5,0.4500,0.475,0.46250,0.149900,-0.026593,0.061774,-0.027027,Root between xi and b
6,6,0.4625,0.475,0.46875,0.061774,-0.026593,0.017599,0.013333,Root between xi and b

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.10000,0.900,0.500000,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.10000,0.500,0.300000,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.30000,0.500,0.400000,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.40000,0.500,0.450000,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.45000,0.500,0.475000,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi
5,5,0.45000,0.475,0.462500,0.149900,-0.026593,0.061774,-0.027027,Root between xi and b
6,6,0.46250,0.475,0.468750,0.061774,-0.026593,0.017599,0.013333,Root between xi and b
7,7,0.46875,0.475,0.471875,0.017599,-0.026593,-0.004498,0.006623,Root between a and xi

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.10000,0.900000,0.500000,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.10000,0.500000,0.300000,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.30000,0.500000,0.400000,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.40000,0.500000,0.450000,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.45000,0.500000,0.475000,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi
5,5,0.45000,0.475000,0.462500,0.149900,-0.026593,0.061774,-0.027027,Root between xi and b
6,6,0.46250,0.475000,0.468750,0.061774,-0.026593,0.017599,0.013333,Root between xi and b
7,7,0.46875,0.475000,0.471875,0.017599,-0.026593,-0.004498,0.006623,Root between a and xi
8,8,0.46875,0.471875,0.470313,0.017599,-0.004498,0.006551,-0.003322,Root between xi and b

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.100000,0.900000,0.500000,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.100000,0.500000,0.300000,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.300000,0.500000,0.400000,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.400000,0.500000,0.450000,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.450000,0.500000,0.475000,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi
5,5,0.450000,0.475000,0.462500,0.149900,-0.026593,0.061774,-0.027027,Root between xi and b
6,6,0.462500,0.475000,0.468750,0.061774,-0.026593,0.017599,0.013333,Root between xi and b
7,7,0.468750,0.475000,0.471875,0.017599,-0.026593,-0.004498,0.006623,Root between a and xi
8,8,0.468750,0.471875,0.470313,0.017599,-0.004498,0.006551,-0.003322,Root between xi and b
9,9,0.470313,0.471875,0.471094,0.006551,-0.004498,0.001026,0.001658,Root between xi and b

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.100000,0.900000,0.500000,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.100000,0.500000,0.300000,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.300000,0.500000,0.400000,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.400000,0.500000,0.450000,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.450000,0.500000,0.475000,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi
5,5,0.450000,0.475000,0.462500,0.149900,-0.026593,0.061774,-0.027027,Root between xi and b
6,6,0.462500,0.475000,0.468750,0.061774,-0.026593,0.017599,0.013333,Root between xi and b
7,7,0.468750,0.475000,0.471875,0.017599,-0.026593,-0.004498,0.006623,Root between a and xi
8,8,0.468750,0.471875,0.470313,0.017599,-0.004498,0.006551,-0.003322,Root between xi and b
9,9,0.470313,0.471875,0.471094,0.006551,-0.004498,0.001026,0.001658,Root between xi and b
10,10,0.471094,0.471875,0.471484,0.001026,-0.004498,-0.001736,0.000829,Root between a and xi

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.100000,0.900000,0.500000,1.357008,-1.188326,-0.202671,1.000000,Root between a and xi
1,1,0.100000,0.500000,0.300000,1.357008,-0.202671,1.068232,-0.666667,Root between xi and b
2,2,0.300000,0.500000,0.400000,1.068232,-0.202671,0.493151,0.250000,Root between xi and b
3,3,0.400000,0.500000,0.450000,0.493151,-0.202671,0.149900,0.111111,Root between xi and b
4,4,0.450000,0.500000,0.475000,0.149900,-0.202671,-0.026593,0.052632,Root between a and xi
5,5,0.450000,0.475000,0.462500,0.149900,-0.026593,0.061774,-0.027027,Root between xi and b
6,6,0.462500,0.475000,0.468750,0.061774,-0.026593,0.017599,0.013333,Root between xi and b
7,7,0.468750,0.475000,0.471875,0.017599,-0.026593,-0.004498,0.006623,Root between a and xi
8,8,0.468750,0.471875,0.470313,0.017599,-0.004498,0.006551,-0.003322,Root between xi and b
9,9,0.470313,0.471875,0.471094,0.006551,-0.004498,0.001026,0.001658,Root between xi and b
10,10,0.471094,0.471875,0.471484,0.001026,-0.004498,-0.001736,0.000829,Root between a and xi
11,11,0.471094,0.471484,0.471289,0.001026,-0.001736,-0.000355,-0.000414,Root between a and xi

In [34]:
## Muller Method ###
# Python3 Program to find root of
# a function, f(x)
import math;
MAX_ITERATIONS = 10000;

In [35]:
def f(x):
    # Taking f(x) = x ^ 3 + 2x ^ 2 + 10x - 20
    return (1 * pow(x, 3) + 2 * x * x + 10 * x - 20);

In [38]:
def Muller(a, b, c):
    res = 0;
    i = 0;
    while (True):
        # Calculating various constants
        # required to calculate x3
        f1 = f(a); f2 = f(b); f3 = f(c);
        d1 = f1 - f3;
        d2 = f2 - f3;
        h1 = a - c;
        h2 = b - c;
        a0 = f3;
        a1 = (((d2 * pow(h1, 2)) -
               (d1 * pow(h2, 2))) /
              ((h1 * h2) * (h1 - h2)));
        a2 = (((d1 * h2) - (d2 * h1)) /
              ((h1 * h2) * (h1 - h2)));
        x = ((-2 * a0) / (a1 +
             abs(math.sqrt(a1 * a1 - 4 * a0 * a2))));
        y = ((-2 * a0) / (a1 -
            abs(math.sqrt(a1 * a1 - 4 * a0 * a2))));
        # Taking the root which is
        # closer to x2
        if (x >= y):
            res = x + c;
        else:
            res = y + c;
 
        # checking for resemblance of x3
        # with x2 till two decimal places
        m = res * 100;
        n = c * 100;
        m = math.floor(m);
        n = math.floor(n);
        if (m == n):
            break;
        a = b;
        b = c;
        c = res;
        if (i > MAX_ITERATIONS):
            print("Root cannot be found using", "Muller's method");
            break;
        i += 1;
    if (i <= MAX_ITERATIONS):
        print("The value of the root is", round(res, 4));

In [39]:
# Driver Code
a = 0;
b = 1;
c = 2;
Muller(a, b, c);
# This code is contributed by mits

The value of the root is 1.3688