In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [5]:
df['Pulse'].value_counts(ascending=True)

125     1
120     1
159     1
149     1
129     1
83      1
121     1
152     1
137     1
130     1
116     1
119     1
113     1
141     1
122     1
85      1
124     1
153     1
112     2
150     2
80      2
101     2
151     2
99      2
123     2
95      3
136     3
118     3
117     3
93      3
92      3
115     3
114     4
104     4
111     6
105     6
102     6
106     6
98      6
110     7
97      7
108     7
107     8
109     9
103     9
90     12
100    19
Name: Pulse, dtype: int64

In [6]:
pd.crosstab(index=df["Pulse"], columns=['Pulse'])

col_0  Pulse
Pulse
80         2
83         1
85         1
90        12
92         3
93         3
95         3
97         7
98         6
99         2
100       19
101        2
102        6
103        9
104        4
105        6
106        6
107        8
108        7
109        9
110        7
111        6
112        2
113        1
114        4
115        3
116        1
117        3
118        3
119        1
120        1
121        1
122        1
123        2
124        1
125        1
129        1
130        1
136        3
137        1
141        1
149        1
150        2
151        2
152        1
153        1
159        1

In [30]:
def rel_freq(val):
    freqs = [(data, val.count(data)/len(val)) for data in val]
    return freqs

In [31]:
rel_freq(list(df))

[('Duration', 0.25), ('Pulse', 0.25), ('Maxpulse', 0.25), ('Calories', 0.25)]

In [32]:
a = [54, 54, 56, 58, 54, 51, 52, 60, 61]

In [33]:
df1 = df.describe()
print(df1)

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [34]:
df.mean()

Duration     63.846154
Pulse       107.461538
Maxpulse    134.047337
Calories    375.790244
dtype: float64

In [35]:
df.median()

Duration     60.0
Pulse       105.0
Maxpulse    131.0
Calories    318.6
dtype: float64

In [36]:
df.mode()

   Duration  Pulse  Maxpulse  Calories
0        60    100       120     300.0

In [37]:
quartile = [4, 17, 7, 14, 18, 12, 3, 16, 10, 4, 4, 11]

In [38]:
import numpy as np

In [39]:
df2 = np.percentile(df['Pulse'], 95)
df2

139.39999999999998

In [40]:
q1 = df.quantile(.25)
print(q1)

Duration     45.000
Pulse       100.000
Maxpulse    124.000
Calories    250.925
Name: 0.25, dtype: float64

In [59]:
d2 = pd.Series([2, 7, 3, 12, 9])

In [60]:
d2_mean = d2.mean()
d2_mean

6.6

In [61]:
d2_var = [((x-d2_mean)**2)/len(d2) for x in d2]

In [62]:
d2_var = sum(d2_var)

In [63]:
d2_var

13.84

In [64]:
d2_std = np.sqrt(d2_var)
d2_std

3.7202150475476548

In [66]:
from statistics import stdev, variance

In [75]:
print("Satndara Variance  : ", variance(d2))
print("Satndara Deviation : ", stdev(d2))

Satndara Variance  :  17.3
Satndara Deviation :  4.159326868617084

In [76]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [79]:
df_skew = df['Pulse'].skew(axis=0)
print(df_skew)

1.4184051868748802

In [89]:
d3 = pd.Series([12, 13, 54, 56, 25])

In [90]:
d3_mean = d3.mean()
print(d3_mean)

32.0

In [91]:
print(d3.skew(axis=0))

0.382116744998476